body {
    font-family: Verdana, sans-serif;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
    margin: 20px;
}


.checklist {
    list-style-type: none;
padding: 0;
    margin: 0;
}

.checklist li {
    padding-left: 30px;
background-repeat: no-repeat;
    background-position: left center;
    line-height: 2;
}


.checklist li {
    background-image: url('images/checkmark.webp');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px;
    padding-left: 25px;
    margin: 5px 0;
}

.checklist li.checked {
    background-image: url('images/Cross-mark-icon-in-red-color-on-transparent-background-PNG.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
    padding-left: 25px;
    margin: 5px 0;