body {
    font-family: Verdana, sans-serif;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
    margin: 20px;
}


.checklist {
    list-style-type: none;
padding: 0;
    margin: 0;
}

.checklist li {
    padding-left: 30px;
background-repeat: no-repeat;
    background-position: left center;
    line-height: 2;
}


.checklist li.checked {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Checkbox_tick_mark.svg/2048px-Checkbox_tick_mark.svg.png'); / Vinkje icoon /
}


.checklist li:not(.checked) {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/19/Checkbox_blank.svg');